.listings {
  padding: 20px 0;
}

.fa {
  cursor: pointer;
}

.hero{
  width: 100%;
  height: 800px;
  position: relative;
  /*background: url('./assets/images/recipe/frangoxadrez.jpg') no-repeat bottom center;*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header .logo {
  margin-top: 20px;
  width: 400px;
}

header {
  text-align: center;
}

.recipe-box {
  position: absolute;
  bottom: 100px;
  right: 20px;
  padding: 20px;
  width: 600px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.recipe-title {
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 40px;
}

.recipe-text {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 25px;
}
