<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./index.css">
  </head>
  <body ng-controller="ListCtrl as ctrl">

    <section class="hero"
      ng-style="{'background-image': 'url(' + ctrl.getRecipeUrl() + ')'}"
    >
  		<header>
  			<div class="wrapper">
  				<a href="#"><img src="./assets/images/logobranco.png" class="logo" alt="" titl=""/></a>
  			</div>
  		</header><!--  end header section  -->
      <div class="recipe-box">
        <p ng-bind="ctrl.currentRecipe.title" class="recipe-title"></p>
        <p ng-bind="ctrl.currentRecipe.text" class="recipe-text"></p>
      </div>
  	</section><!--  end hero section  -->

    <section class="listings" ng-if="ctrl.getListExpiringProduct().length > 0">
      <div class="wrapper">
        <h2>Esqueceu de mim?</h2>
        <ul class="properties_list">
          <li ng-repeat="product in ctrl.getListExpiringProduct()">
            <a href="#">
              <img ng-src="{{'./assets/images/product/' + product.img}}" alt="" title="" class="property_img"/>
            </a>

            <span class="info action-remove" ng-click="ctrl.remove(product)"><i class="fa fa-times"></i></span>
            <span class="info action-recipe" ng-click="ctrl.recipe(product)"><i class="fa fa-cutlery"></i></span>
            <div>
              <p class="comprado" ng-bind="ctrl.daysSincePurchaseFormatted(product)"></p>
            </div>
            <div class="property_details">
              <h1>
                <a href="#" ng-bind="product.name"></a>
              </h1>
              <h2>Quantidade: <span class="property_size" ng-bind="product.quantity"></span> - Comprado em: <span class="property_size" ng-bind="product.purchaseDate.format('DD/MM')"></span></h2>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="listings">
      <div class="wrapper">
        <h2>Bem fresquinho</h2>
        <ul class="properties_list">
          <li ng-repeat="product in ctrl.getListFreshProduct()">
            <a href="#">
              <img ng-src="{{'./assets/images/product/' + product.img}}" alt="" title="" class="property_img"/>
            </a>

            <span class="info action-remove" ng-click="ctrl.remove(product)"><i class="fa fa-times"></i></span>
            <span class="info action-recipe" ng-click="ctrl.recipe(product)"><i class="fa fa-cutlery"></i></span>
            <div>
              <p class="comprado" ng-bind="ctrl.daysSincePurchaseFormatted(product)"></p>
            </div>
            <div class="property_details">
              <h1>
                <a href="#" ng-bind="product.name"></a>
              </h1>
              <h2>Quantidade: <span class="property_size" ng-bind="product.quantity"></span> - Comprado em: <span class="property_size" ng-bind="product.purchaseDate.format('DD/MM')"></span></h2>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <script src="./node_modules/moment/min/moment-with-locales.min.js" charset="utf-8"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="./node_modules/angular/angular.min.js" charset="utf-8"></script>
    <script src="./index.js"></script>
  </body>
</html>
